* {
    padding: 0;
    margin: 0;
}

.my-first-carousel1 {
    width: 900px;
    margin: 0 auto;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
}

h1.title {
    color: rgb(241, 13, 13);
    text-align: center;
    text-transform: uppercase;
}


.d-block {
    width: 700px;
    margin: 0 auto;
    justify-content: center;
}

.navbar {
    text-decoration: underline;
    background-color: rgb(196, 32, 32);
    font-size: 20px;
}

.text-color {
    color: antiquewhite;
}

section {
    text-align: center;
    font-size: 40px;
}

div.list{
    text-align: center;
}

.carousel {
    width:800px;
}

.order {
    color: rgb(0, 0, 0);
}

body.contact{
    background-image: url("./images/All-about-pizza-1920x1080.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

body {
    background-color: coral;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: black;
}

h3 {
    text-align: center;
    font-size: 50px;
    color: black;
}

.info {
    text-align: flex;
    color: black;
    font: italic;
    font-size: xx-large;
}

.own {
    color: black;
    text-align: left;
    font-weight: bold;
}

.own1 {
    color: rgb(250, 249, 249);
    text-align: left;
    font-weight: bold;
}

.msg {
    width:300px; 
    height:300px;
}