* {
    padding: 0;
    margin: 0;
}

body {
    background-color: coral;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    display: flexbox;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
}

h2, h3 {
    text-align: center;
    font-size: 2rem;
    color: black;
}

a {
 text-decoration: none;
}

h1.title {
    color: rgb(241, 13, 13);
    text-align: center;
    text-transform: uppercase;
}

.carousel {
    max-width: 700px;
    width:100%;
    margin: auto;
}

.d-block {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.navbar {
    background-color: rgb(196, 32, 32);
    font-size: 20px;
}

.text-color {
    color: antiquewhite;
}

section {
    text-align: center;
    font-size: 40px;
}

div.list{
    text-align: center;
}

.order {
    color: rgb(0, 0, 0);
}

.contact{
    background-image: url("../images/All-about-pizza-1920x1080.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}



.info {
    text-align: flex;
    color: black;
    font: italic;
    font-size: 1.5rem;
}

.own {
    color: black;
    text-align: left;
    font-weight: bold;
}

.own1 {
    color: rgb(250, 249, 249);
    text-align: left;
    font-weight: bold;
}

.msg {
    width:300px; 
    height:300px;
}